<div class="team">
    <div class="wrapper">
        <div class="team__container">
            <div class="team__top">
                <div class="team__title">
                        Основная
                        команда
                </div>
                <div class="team__top-left">
                    
                    <div class="team__item">
                        <div class="team__number counter-value" data-count="12">
                        </div>
                        <div class="team__desc">
                                лет опыта                            
                        </div>
                    </div>
                    
                    <div class="team__item">
                        <div class="team__number counter-value" data-count="500">
                        </div>
                        <div class="team__desc">
                                реализованных проектов
                        </div>
                    </div>
                    
                    <div class="team__item">
                        <div class="team__number counter-value" data-count="90">
                        </div>
                        <div class="team__desc">
                            сотрудников
                        </div>
                    </div>

                </div>
            </div>

            <div class="team__content">
                <div class="swiper-container team-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-1.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-2.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-3.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-4.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-5.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide team__slide">
                            <div class="team__img m-bg-cont">
                                <img data-src='static/img/content/team-6.jpg'>
                            </div>
                            <div class="team__item-content">
                                <div class="team__slide-title">Владимир Шаклеин</div>
                                <div class="team__slide-desc">
                                        Team leader
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>