<div class="work">
    <div class="wrapper">
        <div class="work__container">
            <div class="work__title">
                    Преимущества
                    работы с нами
            </div>
            <div class="work__items">

                <div class="work__item">
                    <div class="work__icon">
                        {{Icon iconName="work-1"}}
                    </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__icon">
                        {{Icon iconName="work-2"}}
                    </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__icon">
                        <img data-src='static/img/content/work-3.png'>

                    </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__icon">
                        {{Icon iconName="work-4"}}
                    </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__icon">
                        <img data-src='static/img/content/work-5.png'>                        
                    </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__icon">
                            <img data-src='static/img/content/work-6.png'>
                        </div>
                    <div class="work__text">
                            Высокая скорость работы вёрстки
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>