<div class="adv">
    <div class="wrapper">
        <div class="adv__container">

            <div class="adv__title">
                    Наши <br>
                    клиенты
            </div>
            
            <div class="adv__content">
                <div class="adv__item">
                    <img data-src='static/img/content/av-1.png'>                    
                </div>
                <div class="adv__item">
                    <img data-src='static/img/content/av-2.png'>                    
                </div>
                <div class="adv__item">
                    <img data-src='static/img/content/av-3.png'>
                </div>
                <div class="adv__item">
                    <img data-src='static/img/content/av-4.png'>
                </div>
                <div class="adv__item">
                    <img data-src='static/img/content/av-5.png'>
                </div>
                <div class="adv__item">
                    <img data-src='static/img/content/av-6.png'>
                </div>
                
            </div>
            
        </div>
    </div>
</div>