<div class="about">
    <div class="about__bg m-bg-cont">
        <img data-src='static/img/content/about-bg.jpg'>
    </div>
    <div class="wrapper">
        <div class="about__container">
            <div class="about__year">
                <div class="about__year-title">
                        30 дней
                </div>
                <div class="about__year-desc">
                        Гарантийного обслуживания
                </div>
            </div>
            <div class="about__content">
                <div class="about__title">
                    О НАС
                </div>
                <div class="about__desc">
                    Каждый день мы пишем код для успешных digital агенств

                </div>
                <div class="about__text">
                    Мы ничего не скрываем от заказчика и всегда можем подтвердить свое мастерство, предлагая максимум информации о своей работе. Конечно, можно найти и других исполнителей. И они выполнят порученную им работу не хуже нас. Возможно! Но куда вероятнее, что вы нарветесь на дилетантов, а сделанное ими в лучшем случае придется переделывать, в худшем – и вовсе начинать с нуля.
                </div>
                <div class="about__item-container">
                    <div class="about__text">
                        Нам доверяют известные студии, такие как:
                    </div>
                </div>
                <div class="about__items">
                    <div class="about__item">
                        <img data-src='static/img/content/about-1.png'>
                        <div class="about__text">
                                Notamedia
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-2.png'>
                        <div class="about__text">
                                Artwell
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-3.png'>
                        <div class="about__text">
                                Aero
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-4.png'>
                        <div class="about__text">
                                Бюро Пирогова
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-5.png'>
                        <div class="about__text">
                                Сибирикс
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-6.png'>
                        <div class="about__text">
                                Red Keds
                        </div>
                    </div>
                    <div class="about__item">
                        <img data-src='static/img/content/about-7.png'>
                        <div class="about__text">
                                Greensight
                        </div>
                    </div>
                </div>

                <div class="about__text">   
                        Мы адекватные! :) <br>
                        Вся команда находится в одном офисе. К нам можно приехать в гости и обсудить проект в любое время.
                </div>
                
                <a href="doc.doc" download class="about__link">
                    {{Icon iconName="doc"}}
                    ИП Шкабко Роман, Код ЕДРПОУ: 34047020
                </a>
                
            </div>
        </div>
    </div>
</div>