<div class="reviews__item">
    <div class="reviews__icon">
        {{Icon iconName="reviews-icon"}}
    </div>
    <div class="reviews__text">
        Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.
    </div>
    <div class="reviews__bottom">
        <div class="reviews__left">
            <div class="reviews__img m-bg-cont">
                <img data-src='static/img/content/reviews-bg.jpg'>
            </div>
            <div class="reviews__desc">
                <div class="reviews__desc-title">
                        Анна Иванова
                </div>
                <div class="reviews__desc-desc">
                        Связной
                </div>
            </div>
        </div>
        <div class="reviews__right">
            <img data-src='static/img/content/reviews-img.png'>
        </div>
    </div>
</div>