<div class="form">
    <div class="wrapper">
        <div class="form__cite">

            <div class="form__cite-line"></div>

            <div class="form__cite-title">
                <div class="form__cite-title-content">
                    Марк <span>Дружин</span>
                </div>
            </div>
            <div class="form__cite-desc">
                <div class="form__cite-desc">
                    Основатель компании Markello
                </div>
            </div>
        </div>
        <div class="form__container">
            <div class="form__bg m-bg-cont">
                <img data-src='static/img/content/form-bg.jpg'>
            </div>
            <div class="form__left">
                <div class="form__title">
                        Мы с радостью сделаем <span>бесплатную</span>
                        оценку Вашего проекта
                </div>
                <form action="#" class="form__form">
                    <div class="form__item">
                        <div class="form__item-title">
                                Ваше имя *
                        </div>
                        <input type="text" name='name' class="m-field" autocomplete="off">
                    </div>
    
                    <div class="form__input-row">
                        <div class="form__item">
                            <div class="form__item-title">
                                    Телефон *
                            </div>
                            <input type="text" name='phone' class="m-field phone-mask" autocomplete="off">
                        </div>
        
                        <div class="form__item">
                            <div class="form__item-title">
                                    Email *
                            </div>
                            <input type="text" name='email' class="m-field" autocomplete="off">
                        </div>
                    </div>
    
                    <div class="form__item">
                        <div class="form__item-title">
                                Расскажите о Вашем проекте *
                        </div>
                        <textarea name="textarea" class="m-textarea"></textarea>
                    </div>
    
                    <div class="form__bottom">
                        <button class="form__button">
                                Отправить
                        </button>
                        <label class="inputfile">
                            {{Icon iconName="file"}}
                            <span>Прикрепить файл</span>
                            <input type="file" name="file">
                        </label>
                    </div>
                </form>
            </div>
            <div class="form__footer">
                <div class="wrapper">
                    <div class="form__footer-left">
                        <div class="form__footer-title">
                            Хотите 100% гарантию при работе?
                        </div>
                        Два способа чтобы полностью контролировать выполнение работ
                        и “держать руку на пульсе” всех процессов
                    </div>
                    <div class="form__footer-right">
        
                        <div class="form__footer-item">
                            {{Icon iconName="form-bottom-icon-1"}}
                            <div class="form__footer-text">
                                    Работа через систему
                                    Скрин-Snapshot
                                    и Time-Tracker
                            </div>
                        </div>
        
                        <div class="form__footer-item">
                            {{Icon iconName="form-bottom-icon-1"}}
                            <div class="form__footer-text">
                                    Работа через систему
                                    Скрин-Snapshot
                                    и Time-Tracker
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>