<div class="made">
    <div class="made__container">
        <div class="wrapper">
            <div class="made__top">
                Разработанные нами сайты
            </div>
        </div>
        <div class="made__content">
            <div class="swiper-container made__slider made-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide made__slide made__slide-1">
                        <div class="made__title">
                                Monolith
                        </div>
                        <div class="made__desc">
                                Корпоративный сай
                        </div>
                        <div class="made__img m-bg-cont">
                            <img data-src='static/img/content/made-1.png'>
                        </div>
                    </div>

                    <div class="swiper-slide made__slide made__slide-2">
                        <div class="made__title">
                                iGMS
                        </div>
                        <div class="made__desc">
                                Промо-сайт
                        </div>
                        <div class="made__img m-bg-cont">
                            <img data-src='static/img/content/made-2.png'>
                        </div>
                    </div>

                    <div class="swiper-slide made__slide made__slide-3">
                        <div class="made__title">
                                Отведай
                        </div>
                        <div class="made__desc">
                                Интернет-магазин
                        </div>
                        <div class="made__img m-bg-cont">
                            <img data-src='static/img/content/made-3.png'>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>