<div class="other">
    <div class="wrapper">
        <div class="other__container">
            <div class="other__block other__left">
                <div class="other__column">
                    <div class="other__left-title">
                            Фрилансеры
                    </div>
                    <div class="other__items">
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Могут пропасть или бросить работу, если кто-то другой прредложит более выгодное дело;
                            </div>
                        </div>
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Чисто физически не смогут провести тщательное тестирование и устранить все баги;
                            </div>
                        </div>
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Если потребуется техническая поддрежка, автора проекта будет сложно найти, а за допонительную работу он потрубует оплату.
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="other__column">
                    <div class="other__left-title">
                            Другие студии   
                    </div>
                    <div class="other__items">
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Работа поставлена на поток, что приводит к потере качества и срыву сроков; 
                           </div>
                        </div>

                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Нельзя проверить, действительно ли в команде профессионалы либо <br> набранные на фриланс-сайтах исполнители; 
                           </div>
                        </div>

                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="red"}}
                            </div>
                            <div class="other__item-text">
                                    Нет прямого контакта с разработчиками, все общение присходит через менеджера по продажам; 
                           </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="other__right other__block">
                <div class="other__column">
                    <div class="other__right-title">
                            Markello
                    </div>
                    <div class="other__items">
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="green"}}
                            </div>
                            <div class="other__item-text">
                                    Ответственно подходим к тестированию, продукт проходит три этапа проверки: исполнителем, проект-менеджером и тестировщиком;
                            </div>
                        </div>
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="green"}}
                            </div>
                            <div class="other__item-text">
                                    Позволяем вам полностью контролировать процесс разработки в личном кабинете, где можно отслеживать работу программистов, занятых именно вашим проектом;
                            </div>
                        </div>
                        <div class="other__item">
                            <div class="other__icon">
                                {{Icon iconName="green"}}
                            </div>
                            <div class="other__item-text">
                                    Ценим свою репутацию и поэтому всегда выполняем свои обязательства точно в срок.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>